body {
    margin:0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

svg {
    color: #757575;
}

html {
    font-size: 16px;
}

@media screen and (min-width: 3000px) {
    html {
        font-size: 28px;
    }
}

@media screen and (max-width: 3000px) {
    html {
        font-size: 24px;
    }
}

@media screen and (max-width: 2160px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 1536px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 620px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}